/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.hamburger__line, .navigation__link, .button {
  transition: all 0.3s ease-out;
}

body {
  font-family: "Inter", sans-serif;
}

.header, .button--service, h2 {
  font-family: "Inika", serif;
}

.accordion-single__arrow, .accordion__arrow, .prices__img, .about-us__img, .welcome__img, .footer__icon, .logo__img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  line-height: 3.5rem;
  position: relative;
}
body--lock {
  overflow: hidden;
}
@media (max-width: 1300px) {
  body {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
}
@media (max-width: 1300px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
  }
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.2rem;
}
@media (max-width: 1300px) {
  h2 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
  }
}

h3 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
}
@media (max-width: 900px) {
  h3 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.2rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
  }
}

h4 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
}
@media (max-width: 900px) {
  h4 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
  }
}

h5 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button--welcome {
  border-radius: 10px;
  width: 158px;
  height: 44px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  background-color: inherit;
  border: 2px solid #E06733;
  color: #010201;
}
@media (max-width: 600px) {
  .button--welcome {
    width: 100px;
    height: 34px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}
.button--service {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  border-radius: 5px;
  width: 161px;
  height: 50px;
  color: #E06733;
  border: 1px solid #E06733;
}
@media (max-width: 767px) {
  .button--service {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    width: 121px;
    height: 35px;
  }
}
.button:hover {
  color: #FFFFFF;
  background-color: #E06733;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 110px;
}
@media (max-width: 1300px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}

.background-container {
  background-color: #EDF2EC;
}

.header {
  padding: 42px 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 1300px) {
  .header {
    padding: 35px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-line {
  display: flex;
}

.logo__img {
  background-image: url("../../src/img/icons/logo.svg");
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

.footer {
  padding: 40px 0;
  background-color: #FFFFFF;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info {
  display: flex;
  column-gap: 20px;
}
.footer__social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.footer__icon {
  display: block;
  width: 32px;
  height: 32px;
}
.footer__inst {
  background-image: url("../../src/img/icons/inst.svg");
}
.footer__fb {
  background-image: url("../../src/img/icons/fb.svg");
}
.footer__tw {
  background-image: url("../../src/img/icons/tw.svg");
}
.footer__pinterest {
  background-image: url("../../src/img/icons/pinterest.svg");
}

.navigation {
  display: flex;
  column-gap: 47px;
}
.navigation__link {
  list-style: none;
}
.navigation__link:hover {
  color: #E06733;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
    position: fixed;
    z-index: 50;
  }
}

.welcome {
  padding: 62px 0;
}
@media (max-width: 1300px) {
  .welcome {
    padding: 38px 0 70px;
  }
}
@media (max-width: 767px) {
  .welcome {
    padding: 24px 0;
  }
}
.welcome__container {
  display: flex;
  justify-content: start;
  column-gap: 220px;
}
@media (max-width: 1300px) {
  .welcome__container {
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 42px;
  }
}
.welcome__img {
  background-image: url("../../src/img/welcome/leafs.png");
  width: 449px;
  height: 407px;
}
@media (max-width: 1300px) {
  .welcome__img {
    width: 280px;
    height: 254px;
  }
}
@media (max-width: 600px) {
  .welcome__img {
    display: none;
  }
}
.welcome__content {
  max-width: 44.9263502455%;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
@media (max-width: 900px) {
  .welcome__content {
    max-width: 51.7964071856%;
    padding-top: 0px;
  }
}
@media (max-width: 600px) {
  .welcome__content {
    max-width: 100%;
  }
}
.welcome__title {
  padding-bottom: 45px;
}
.welcome__title > span {
  color: #499A18;
}
@media (max-width: 1300px) {
  .welcome__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .welcome__title {
    padding-bottom: 25px;
  }
}
.welcome__text {
  padding-bottom: 45px;
}
@media (max-width: 1300px) {
  .welcome__text {
    padding: 0 0 35px 5px;
  }
}
@media (max-width: 767px) {
  .welcome__text {
    padding: 0 0 25px 0px;
  }
}

.about-us {
  background-color: #FFFFFF;
  padding: 94px 0;
}
@media (max-width: 1300px) {
  .about-us {
    padding: 40px 0 95px 0;
  }
}
@media (max-width: 600px) {
  .about-us {
    padding: 30px 0;
  }
}
.about-us__container {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 153px;
}
@media (max-width: 1300px) {
  .about-us__container {
    flex-direction: column;
    row-gap: 65px;
  }
}
@media (max-width: 600px) {
  .about-us__container {
    row-gap: 5px;
  }
}
.about-us__content {
  max-width: 49.5090016367%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1300px) {
  .about-us__content {
    max-width: 100%;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .about-us__content {
    row-gap: 5px;
  }
}
.about-us__title {
  max-width: 463px;
}
.about-us__title > span {
  color: #E06733;
}
@media (max-width: 1300px) {
  .about-us__title {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .about-us__title {
    padding-bottom: 10px;
  }
}
.about-us__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
@media (max-width: 600px) {
  .about-us__text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
  }
}
.about-us__img {
  background-image: url("../../src/img/about-us/houseplant1.png");
  width: 464px;
  height: 479px;
}
@media (max-width: 1300px) {
  .about-us__img {
    width: 250px;
    height: 258px;
  }
}
@media (max-width: 600px) {
  .about-us__img {
    width: 150px;
    height: 147px;
  }
}

.service {
  padding: 40px 0 121px;
  background-color: #EDF2EC;
}
@media (max-width: 1300px) {
  .service {
    padding: 60px 0 70px;
  }
}
@media (max-width: 767px) {
  .service {
    padding: 30px 0;
  }
}
.service__container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
@media (max-width: 1300px) {
  .service__container {
    row-gap: 40px;
  }
}
.service__header {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 142px;
}
@media (max-width: 1300px) {
  .service__header {
    flex-direction: column;
    align-items: start;
    row-gap: 45px;
  }
}
@media (max-width: 767px) {
  .service__header {
    row-gap: 40px;
  }
}
.service__title {
  max-width: 306px;
  color: #499A18;
}
@media (max-width: 600px) {
  .service__title {
    max-width: 187px;
  }
}

.button-block {
  display: flex;
  column-gap: 38px;
}
@media (max-width: 767px) {
  .button-block {
    flex-wrap: wrap;
    max-width: 252px;
    column-gap: 10px;
    row-gap: 10px;
  }
}

.cards-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 55px;
}
@media (max-width: 1300px) {
  .cards-block {
    max-width: 668px;
    align-self: center;
    justify-content: start;
    column-gap: 107px;
    row-gap: 38px;
  }
}
@media (max-width: 767px) {
  .cards-block {
    max-width: 280px;
    row-gap: 34px;
  }
}
.cards-block__img {
  display: block;
  border-radius: 20px 20px 0px 0px;
}
.cards-block__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  height: 100px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 1300px) {
  .cards-block__info {
    max-width: 280px;
  }
}
.cards-block__title {
  text-align: center;
  color: #E06733;
  padding: 10px 0;
}
.cards-block__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}
@media (max-width: 1300px) {
  .cards-block__text {
    max-width: 201px;
  }
}

.prices {
  padding: 40px 0 115px;
  background-color: #FFFFFF;
}
@media (max-width: 900px) {
  .prices {
    padding-bottom: 88px;
  }
}
@media (max-width: 767px) {
  .prices {
    padding: 25px 0 40px;
  }
}
.prices__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .prices__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.prices__left-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 57px;
}
@media (max-width: 767px) {
  .prices__left-column {
    row-gap: 35px;
  }
}
@media (max-width: 900px) {
  .prices__title {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .prices__title {
    text-align: center;
    padding: 0;
  }
}
.prices__img {
  background-image: url("../../src/img/prices/small-leafs.png");
  width: 152px;
  height: 175px;
}
@media (max-width: 767px) {
  .prices__img {
    display: none;
  }
}
.prices__right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 38px;
}
@media (max-width: 900px) {
  .prices__right-column {
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .prices__right-column {
    align-items: center;
    row-gap: 20px;
  }
}
.prices__subtitle {
  max-width: 470px;
  text-align: end;
}
.prices__subtitle > span {
  color: #499A18;
}
@media (max-width: 900px) {
  .prices__subtitle {
    padding-top: 100px;
    max-width: 296px;
  }
}
@media (max-width: 767px) {
  .prices__subtitle {
    padding-top: 0;
    max-width: 230px;
    text-align: center;
  }
}

.accordion {
  width: 332px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 32px;
  padding-top: 32px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .accordion {
    width: 224px;
    height: 235px;
    row-gap: 14px;
    padding-top: 27px;
  }
}
.accordion__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  background-color: #EDF2EC;
  border-radius: 20px;
  padding-left: 40px;
  width: 250px;
  height: 50px;
}
@media (max-width: 767px) {
  .accordion__item {
    width: 180px;
    padding-left: 30px;
  }
}
.accordion__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 52px;
}
@media (max-width: 767px) {
  .accordion__header {
    column-gap: 15px;
    justify-content: space-between;
  }
}
.accordion__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  width: 100px;
}
@media (max-width: 767px) {
  .accordion__title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    width: 80px;
  }
}
.accordion__arrow {
  background-image: url("../../src/img/icons/accordion_btn.svg");
  width: 16px;
  height: 16px;
}

.contact-us {
  padding-top: 60px;
  background-color: #EDF2EC;
}
@media (max-width: 1430px) {
  .contact-us {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .contact-us {
    padding-top: 25px;
  }
}
.contact-us__container {
  display: flex;
  justify-content: start;
}
@media (max-width: 1430px) {
  .contact-us__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.contact-us__img {
  display: block;
  width: 400px;
  height: 495px;
  margin-right: 113px;
}
@media (max-width: 1430px) {
  .contact-us__img {
    margin: 0;
    width: 200px;
    height: 248px;
  }
}
@media (max-width: 400px) {
  .contact-us__img {
    width: 100px;
    height: 124px;
  }
}
.contact-us__title {
  color: #499A18;
  margin-right: 66px;
  width: 195px;
  font-weight: 700;
}
@media (max-width: 1430px) {
  .contact-us__title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.2rem;
    order: 1;
    margin: 0;
    padding-bottom: 105px;
  }
}
@media (max-width: 767px) {
  .contact-us__title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
    width: 192;
    text-align: center;
    padding-bottom: 80px;
  }
}

.accordion-single {
  display: flex;
  margin-top: 92px;
  width: 450px;
  height: 50px;
  background-color: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1430px) {
  .accordion-single {
    margin: 0;
    margin-bottom: 250px;
  }
}
@media (max-width: 767px) {
  .accordion-single {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .accordion-single {
    margin-bottom: 132px;
  }
}
.accordion-single__header {
  padding: 5px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 175px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
}
@media (max-width: 767px) {
  .accordion-single__header {
    column-gap: 40px;
  }
}
.accordion-single__title {
  width: 204px;
}
.accordion-single__arrow {
  background-image: url("../../src/img/icons/accordion_btn.svg");
  width: 16px;
  height: 16px;
}

.hamburger {
  display: none;
  height: 24px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 5;
  order: 1;
}
.hamburger__line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #717171;
  height: 2px;
}
.hamburger__line:nth-child(1) {
  top: 0px;
}
.hamburger__line:nth-child(2) {
  top: 8px;
}
.hamburger__line:nth-child(3) {
  top: 16px;
}
.hamburger__line:nth-child(4) {
  top: 24px;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .hamburger--open :nth-child(1) {
    transform: scaleX(0);
  }
  .hamburger--open :nth-child(2) {
    top: 0px;
    transform: rotate(45deg);
  }
  .hamburger--open :nth-child(3) {
    top: 0px;
    transform: rotate(-45deg);
  }
  .hamburger--open :nth-child(4) {
    transform: scaleX(0);
  }
}

/*# sourceMappingURL=style.css.map */
