.footer {
    padding: 40px 0;
    background-color: $color-background-additional;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        display: flex;
        column-gap: 20px;
    }
    &__social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }
    &__icon {
        display: block;
        @extend %img-container;
        width: 32px;
        height: 32px;
    }
    &__inst {
        background-image: url("../../src/img/icons/inst.svg");
    }
    &__fb {
        background-image: url("../../src/img/icons/fb.svg");
    }
    &__tw {
        background-image: url("../../src/img/icons/tw.svg");
    }
    &__pinterest {
        background-image: url("../../src/img/icons/pinterest.svg");
    }
}
